## Test MLxtend Apriori on Bread/Milk

In [24]:
import pprint
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [25]:
transactions = [
    ["Bread", "Milk"],
    ["Bread", "Diapers", "Beer", "Eggs"],
    ["Milk", "Diapers", "Beer", "Coke"],
    ["Bread", "Milk", "Diapers", "Beer"],
    ["Bread", "Milk", "Diapers", "Coke"],
]

# Encode transactions into a one-hot DataFrame using TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)

df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Beer  Bread   Coke  Diapers   Eggs   Milk
0  False   True  False    False  False   True
1   True   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True     True  False   True

In [26]:
res = apriori(df, min_support=0.6, use_colnames=True)
print(res)

   support          itemsets
0      0.6            (Beer)
1      0.8           (Bread)
2      0.8         (Diapers)
3      0.8            (Milk)
4      0.6   (Beer, Diapers)
5      0.6  (Bread, Diapers)
6      0.6     (Bread, Milk)
7      0.6   (Milk, Diapers)

## Test Spark MLlib Apriori on Bread/Milk

# TODO